
<h1 class="mb-4">Messages</h1>

<% if @messages.any? %>
  <div class="card-deck">
    <% @messages.each do |message| %>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">From: <%= message.student.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">To: <%= message.teacher.name %></h6>
          <p class="card-text"><strong>Content:</strong> <%= message.content %></p>
          <p class="card-text"><strong>Sent at:</strong> <%= message.created_at %></p>
         <%= link_to "see more", user_message_path(@user, message), class: "btn btn-primary mt-4" %>

        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info" role="alert">
    No messages available.
  </div>
<% end %>

<%= link_to "New Message", new_user_message_path, class: "btn btn-primary mt-4" %>
