<center>
  <h1 class="mb-4">Messages</h1>
</center>

<%= link_to "New message +", new_user_message_path, class: "btn btn-primary text-white" %>
<br><br>

<% if @messages_send.any? %>
  <div class="iphone-message-container">
    <% @messages_send.each do |message| %>
      <div class="iphone-message">
        <div class="iphone-message-header">
          <span class="iphone-sender"><%= message.from.name %></span>
          <span class="iphone-date"><%= message.created_at %></span>
        </div>
        <div class="message-bubble">
          <p><strong></strong> <% message.to.name %></p>
          <p><strong></strong> <%= message.content %></p>
        </div>
        <%= link_to "See more", user_message_path(@user, message), class: "btn btn-primary iphone-btn mt-4" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info" role="alert">
    No sent messages available.
  </div>
<% end %>

<% if @messages_received.any? %>
  <div class="iphone-message-container">
    <% @messages_received.each do |message| %>
      <div class="iphone-message">
        <div class="iphone-message-header">
          <span class="iphone-sender"><%= message.from.name %></span>
          <span class="iphone-date"><%= message.created_at %></span>
        </div>
        <div class="message-bubble">
          <p><strong></strong> <% message.to.name %></p>
          <p><strong></strong> <%= message.content %></p>
        </div>
        <%= link_to "See more", user_message_path(@user, message), class: "btn btn-primary iphone-btn mt-4" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info" role="alert">
    No received messages available.
  </div>
<% end %>
