<div class="container mt-5">
  <h2 class="text-center">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div data-controller="toggle" class="form-inputs">
      <div class="mb-3">
        <%= f.input :name, required: true, autofocus: true, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.input :last_name, required: true, autofocus: true, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.input :address, required: true, autofocus: true, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: "form-control" } %>
      </div>

      <div class="mb-3" data-action="click->toggle#fire">
        <%= f.input :role, as: :radio_buttons, collection: ['teach', 'learn'], required: true, input_html: {
          data: { toggle_target: "input" }, class: "form-check-input" } %>
      </div>


      <div data-toggle-target="toggableElement" class="d-none">
        <div class="mb-3">
          <%= f.input :skills, required: true, autofocus: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.input :interest, required: true, autofocus: true, class: "form-control" %>
        </div>
      </div>
 <div class="mb-3">
          <%= f.input :intereststud, required: true, autofocus: true, class: "form-control" %>
        </div>
      <div class="mb-3">
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if
          @minimum_password_length), input_html: { autocomplete: "new-password", class: "form-control" } %>
      </div>

      <div class="mb-3">
        <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password", class: "form-control" } %>
      </div>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
