
<%= simple_form_for @user, url: user_path(@user), method: :patch do |f| %>
  <div class="container mt-4">
    <h1 class="text-center">Update Your Profile <%= @user.name %></h1>

    <div class="card mt-4">
      <div class="card-body">
          <%= f.input :photo, as: :file %>

        <%= f.input :name, label: "Name", input_html: { class: "form-control" } %>

        <%= f.input :last_name, label: "Last Name", input_html: { class: "form-control" } %>

        <%= f.input :interest, label: "Interest", input_html: { class: "form-control" } %>

        <%= f.input :email, label: "Email", input_html: { class: "form-control" } %>

        <%= f.input :address, label: "Address", input_html: { class: "form-control" } %>


        <div class="text-center mt-3">
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
