<h1>Welcome</h1>
<div class="col-md-3">
  <div class="cardm">
  <div class="flat-card d-flex">
    <div class="flat-card-content d-flex flex-column">
      <div class="flat-card-title">
    <% @teachers.each do |t| %>
    <div class="cardimg">
      <% if @user %>
        <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill if @user.photo.attached? %> 
      <% end %>
    </div><div class="cardimg">
      <%= t.name %>
      <%= t.last_name %>
      <%= t.email %>
      <%= t.address %>
      <%= t.interest %>
    <% end %>
  </div>
</div>

</div>

</div>
</div>