<div class="container mt-4">
  <div class="text-center">
    <h1>Welcome</h1>
  </div>

  <div class="row">
    <% @teachers.each do |teacher| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center"><%= teacher.name %> <%= teacher.last_name %></h5>
            <p class="card-text">
              <strong>Email:</strong> <%= teacher.email %><br>
              <strong>Address:</strong> <%= teacher.address %><br>
              <strong>Interest:</strong> <%= teacher.interest %>
            </p>
            <div class="text-center mt-3">
              <a href="<%= user_path(teacher) %>" class="btn btn-success">See more..</a>
            </div>
          </div>
          <div class="card-footer">
            <!-- Ajoutez du contenu au pied de la carte si nécessaire -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


