<%= render "shared/section" %>
<div class="container gap-3 d-flex flex-column mt-4">
<%= render "shared/category" %>
<% if current_user.role == 'learn' %>
  <h3 class="text-center my-4">Nos Meilleurs Formateurs</h3>
  <div class="row">
    <% @teachers.each do |t| %>
  <div class="col-md-3 mb-4">
     <%= link_to user_path(t), class:"card_formateur" do %>

      <% if t.photo.attached? %>
        <div class="image">
          <%= cl_image_tag(t.photo.key, height: 170, width: 90, crop: :fill) %>
        </div>
      <% end %>
      <div class="info">
        <div>
          <p class="name"><%= t.name %> <%= t.last_name %></p>
          <p class="function"><i class="fas fa-book"></i> <%= t.interest %></p>
        </div>
        <div class="stats">
          <p class="flex" id="avis">
            Avis
            <span class="state-value"><%= render_rating(t.rating) %></span>
          </p>
        </div>

      </div>

   <% end %>
  </div>
<% end %>

</div>
<% end %>
  </div>


