
<%= render "shared/section" %>

<div class="container">
  <div class="col-12"><br>
    <div class="row">
      <% @teachers.each do |t| %>
      <!--====== CARD FORMATEUR PART START ======-->
        <div class="col-md-3">
          <div class="cardm">
            <div class="flat-card d-flex">
              <div class="flat-card-content d-flex flex-column">
                <div class="flat-card-title">
                  <div class="cardimg">

                    <img src="https://res.cloudinary.com/deydjvnm9/image/upload/v1700222106/qtazyi2l8ymjlfcnybhv.jpg"
                      class="img-thumbnail" alt="exmpl" width="300" height="250">
                  </div>
                  <div class="cardm">
                  <h5>
                    <%= t.name %>
                  </h5>
                  <!-- <h5>
                    <%= t.last_name %>
                  </h5> -->
                  <p>
                    <%= t.email %>
                  </p>
                  <p>
                    <%= t.address %>
                  </p>
                  <p>
                    <%= t.interest %>
                  </p>
                  <%= link_to "View More details", users_path(@user)  %>
                </div>
              </div>
              </div>

            </div>
          </div>

        </div>
<!--====== CARD FORMATEUR PART END ======-->
        <% end %>
    </div>
  </div>
</div>
<%= link_to "Go Back To Home" , users_path %>
<%= render "shared/footer" %>