<%= simple_form_for @user do |f| %>
  <div class="container mt-4">
    <h1 class="text-center">Nouveau Formateur</h1>

    <div class="card mt-4">
      <div class="card-body">
        <%= f.input :name, label: "Name", input_html: { class: "form-control" } %>

        <%= f.input :last_name, label: "Last Name", input_html: { class: "form-control" } %>

        <%= f.input :interest, label: "Interest", input_html: { class: "form-control" } %>

        <%= f.input :email, label: "Email", input_html: { class: "form-control" } %>

        <%= f.input :address, label: "Address", input_html: { class: "form-control" } %>

        <!-- Ajoutez d'autres champs du formulaire en fonction de vos besoins -->

        <div class="text-center mt-3">
          <%= f.button :submit, "Create Formateur", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
