  <div class="cardm">
    <!-- Contenu spécifique à l'enseignant -->
    <p>Ceci est du contenu spécifique à l'enseignant.</p>
    <!-- Ajoutez d'autres éléments HTML selon vos besoins -->

    <!--====== HEADER PART START ======-->
    <header id="home" class="header-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-6">
            <div class="header-content-right">
              <h4 class="sub-title">Hello, I’m</h4>
              <h1 class="text-center"><%= @user.name %></h1>
              <h3 class="card-title text-center"><%= @user.interest %></h3>
              <!-- <a class="main-btn" href="#work">View CV</a> -->
            </div> <!-- header content right -->
          </div>
          <div class="col-lg-6 offset-xl-1">
            <div class="header-image d-none d-lg-block">
              <img src="https://media.licdn.com/dms/image/D4E03AQESRl8wIrexZQ/profile-displayphoto-shrink_800_800/0/1695038981559?e=1703721600&v=beta&t=oV-OVn4l4qVrymIOsYqFsPAQiLeSLtm17Xw1zKNd_Zg" alt="hero">
            </div> <!-- header image -->
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </header>
    <!--====== HEADER PART ENDS ======-->

    <!--====== ABOUT PART START ======-->
    <section id="about" class="about-area pt-125 pb-130">
      <div class="container">
        <div class="cardm">
          <div class="row">
            <div class="col-lg-6">
              <div class="about-content mt-50">
                <h1 class="text-center"><%= @user.name %></h1>
                <p>lol</p>
              </div> <!-- about content -->
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6">
              <div class="about-skills pt-25">
                <div class="skill-bar">
                  <div class="bar-inner">
                    <div class="bar progress-line" data-width="80">
                      <ul class="list-group list-group-flush">
                        <% if @user.role == 'teach' %>
                        <% @user.skills.each do |skill| %>
                          <li class="list-group-item"><strong>skills:</strong> <%= skill.title %></li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="skill-header"></div>
                <div class="skill-bar">
                  <div class="bar-inner">
                    <div class="bar progress-line" data-width="60">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong> interests:</strong> <%= @user.interest %></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <% if current_user.role == 'learn' %>
                  <div class="cardm">
                    <%= render "shared/form" %>
                  </div>
                <% end %>
                <h2>Reviews</h2>
                <% @user.reviews.each do |review| %>
                   <%= review.content %>
                <% end %>
              </div>
            </div>
          </div> <!-- row -->
        </div>
      </div> <!-- container -->
    </section>
    <!--====== ABOUT PART ENDS ======-->

    <!--====== CONTACT PART START ======-->
    <!-- Ajoutez le reste de votre code pour la section CONTACT ici -->

  </div> <!-- Fin de la div cardm spécifique à l'enseignant -->
