<div class="teacher-profile">

  <!-- Header Section with Avatar and Name -->
  <div class="teacher-header">
    <div class="teacher-avatar">
      <%= cl_image_tag @user.photo.key, height: 400, width: 400, crop: :fill, class: "avatar-img" if @user.photo.attached? %>
    </div>
    <div class="teacher-info">
      <h4>Bonjour, je suis</h4>
      <h1><%= @user.name %></h1>
    </div>
  </div>

  <!-- Skills and Interests Section -->
<% if @user.role == 'teach' %>
  <div class="teacher-details">
    <h2><i class="fas fa-cog"></i>Compétences</h2>
    <ul>
      <% @user.skills.each do |skill| %>
        <li class="skill">
          <strong><%= skill.title %>:</strong> <%= skill.description %>
        </li>
      <% end %>
    </ul>
    <p class="interests"><strong>Intérêts :</strong> <%= @user.interest %></p>
  </div>
<% end %>


  <!-- Action Button for Teachers -->
  <% if current_user == @user && @user.role == "teach" %>
    <div class="teacher-actions">
      <%= link_to "Ajouter une compétence", new_skill_path, class: "action-btn" %>
    </div>
  <% end %>

  <!-- Booking Section for Students -->
  <div class="about-content" data-controller="toggle">
    <% if @user.role == 'teach' && @user != current_user %>
      <button class="toggle-btn" data-action="click->toggle#fire"><i class='fas fa-calendar-alt'></i>  Réserver cette formation</button>
      <div data-toggle-target="display" class="reservation-form d-none">
        <%= simple_form_for([@user, @reservation]) do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" }, placeholder: 'JJ/MM/AAAA' }, label: 'Date de début', label_html: { class: 'form-label' } %>
          <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" }, placeholder: 'JJ/MM/AAAA' }, label: 'Date de fin', label_html: { class: 'form-label' } %>

          <%= f.submit "Réserver maintenant", class: "btn btn-info" %>
        <% end %>
      </div>
    <% end %>
  </div>

    <div class="map-container" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-markers-value="<%= @markers.to_json %>"></div>


<div class="reviews" data-controller="reviews">

    <div class="title-review">

      <h3>Avis des étudiants</h3>
       <% if @reviews.size > 1 %>
      <button data-action="click->reviews#toggleReviews" data-reviews-target="toggleButton" class="btn btn-info mt-2">Voir plus</button>
    <% end %>
    </div>
  <div id="reviews-container">
    <% displayed_reviews = @reviews.take(1) %>
    <% additional_reviews = @reviews.drop(1) %>

    <% displayed_reviews.each do |review| %>
      <div class="review">
        <p><span class="star-rating"><%= render_rating(review.rating) %></span> <br><%= review.content %></p>
      </div>
    <% end %>

    <% if additional_reviews.any? %>
      <div class="additional-reviews d-none" data-reviews-target="additionalReviews" >
        <% additional_reviews.each do |review| %>
          <div class="review">
            <p><span class="star-rating"><%= render_rating(review.rating) %></span> <br><%= review.content %></p>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>


  <%= form_with(model: [@user, Review.new], url: user_reviews_path(@user), local: true) do |form| %>
    <div class="form-group">
      <%= form.label :rating, 'Votre note:' %>
      <%= form.number_field :rating, class: 'form-control', placeholder: 'Entrez votre note' %>
    </div>

    <div class="form-group">
      <%= form.label :content, 'Votre commentaire:' %>
      <%= form.text_area :content, class: 'form-control', placeholder: 'Partagez votre expérience...' %>
    </div>

    <%= form.submit 'Envoyer la critique', class: 'btn btn-primary' %>
  <% end %>


</div>




  <!-- Footer Actions -->
  <div class="footer-actions">
    <%= link_to "Retour à l'accueil", root_path, class: "btn btn-secondary" %>
    <%= link_to "Modifier le profil", edit_user_path(current_user), class: "btn btn-warning" if current_user == @user %>
  </div>
</div>
