
<div class="container mt-5">

  <h1 class="text-center">Formateur <%= @user.name %></h1>

  <div class="card mt-4">
    <div class="card-body">
      <h3 class="card-title text-center"><%= @user.interest %></h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Email:</strong> <%= @user.email %></li>
        <li class="list-group-item"><strong>Address:</strong> <%= @user.address %></li>
      </ul>

      <div class="d-flex justify-content-center mt-3">
        <%# <%= link_to "Edit Formateur", edit_user_path(@user), class: "btn btn-primary mx-2" %>
        <%= link_to "Come Back", users_path, class: "btn btn-secondary mx-2" %>
      </div>
    </div>
  </div>
</div>


<<<<<<< HEAD

=======
>>>>>>> 99a94f2bec6f3bd91882f85e5472dcad1d81c205
