<div class="container my-4">
<div class="text-start mb-3">
  <% if @skills.count.zero? %>
    <p class="text-muted">Aucun résultat trouvé pour la requête "<%= params[:query] %>"</p>
  <% else %>
    <p>Il y a <span class="fw-bold"><%= @skills.count %></span> résultats pour la recherche<em class="font-italic">"<%= params[:query] %>"</em> :</p>
  <% end %>
</div>

  <div class="row">
    <% @skills.each do |skill| %>
      <div class="col-md-4 mb-4">
        <div class="custom-card">
          <!-- User profile image -->
          <div class="custom-card-img-top">
            <%= cl_image_tag(skill.user.photo.key, height: 300, width: 300, crop: :fill) if skill.user.photo.attached? %>
          </div>

          <div class="custom-card-body">
            <h5 class="custom-card-title text-center"><%= skill.title %></h5>
            <p class="custom-card-text">

              <%=  skill.description %>
            </p>
            <div class="text-center mt-3">
              <!-- Add an icon here if desired -->
              <a href="<%= user_path(skill.user) %>" class="custom-btn custom-btn-success">Voir le Profil</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-2"> <!-- Ajout de la classe "text-center" pour centrer le bouton -->
    <%= link_to "Retour", root_path , class: "custom-btn custom-btn-secondary" %>
  </div>
</div>
