<div class="container mt-4">
  <div class="text-center">
    <h1>Skills</h1>
  </div>

  <% if current_user.role == 'teach' %>
    <p>Je suis un enseignant</p>
    <%end%>
     <% if current_user.role == 'learn' %>
    <p>Je suis un étudiant</p>

    <%end%>

  <div class="row">
    <% @skills.each do |skill| %>
      <div class="col-md-4 mb-4">
         <div class="cardm">

          <div class="cardimg">
          <%= cl_image_tag(skill.user.photo.key, height: 300, width: 300, crop: :fill) if skill.user.photo.attached? %>
          </div>

          <div class="card-body">
            <h5 class="card-title text-center"><%= skill.title %></h5>
            <p class="card-text">
              <strong>title:</strong> <%= skill.title %><br>
              <strong>description:</strong> <%= skill.description %><br>
            </p>
            <div class="text-center mt-3">
              <a href="<%= user_path(skill.user) %>" class="btn btn-success">Voir Details Profil..</a>
            </div>
          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>
    <% end %>


















    <%= link_to "Come Back", user_path(current_user), class: "btn btn-secondary mt-2" %>

  </div>
</div>
