<div class="container mt-4">
  <div class="header">
    <h2 class="greeting mb-4">👋 Bonjour <%= current_user.name %>, voici tes réservations :</h2>
  </div>

  <% @reservations.each do |reservation| %>
    <div class="card-formateur mb-4">
      <div class="card-formateur-header">
        <div class="card-formateur-image">
        <% if current_user.role == 'learn' %>
          <%= cl_image_tag(reservation.teacher.photo.key, height: 100, width: 100, crop: :fill) if reservation.teacher.photo.attached? %>
        <% else %>
          <%= cl_image_tag(reservation.student.photo.key, height: 100, width: 100, crop: :fill) if reservation.student.photo.attached? %>
        <% end %>
        </div>
        <% if current_user.role == 'learn' %>
        <div class="card-formateur-info">
          <p class="card-formateur-name"><%= reservation.teacher.name %> <%= reservation.teacher.last_name %></p>
          <p class="card-formateur-interest"><i class="fas fa-book"></i> <%= reservation.teacher.interest %></p>
        </div>
        <% else %>
          <div class="card-formateur-info">
          <p class="card-formateur-name"><%= reservation.student.name %> <%= reservation.student.last_name %></p>
          <p class="card-formateur-interest"><i class="fas fa-book"></i> <%= reservation.student.interest %></p>
        </div>
        <% end %>
      </div>
      <div class="card-formateur-body">
        <div class="card-formateur-stats mx-2">
          <p class="card-formateur-avis">
            Avis
            <span class="state-value"><%= render_rating(reservation.teacher.rating) %></span>
          </p>
        </div>
        <div class="card-formateur-details ">
          <div class="card-formateur-date mx-2">
            <p>Début : <%= reservation.start_date.strftime('%d %b %Y') %></p>
            <p>Fin : <%= reservation.end_date.strftime('%d %b %Y') %></p>
          </div>
          <div class="card-formateur-actions">
            <% if current_user.role == 'teach' %>
              <%= button_to "Accepter", validate_path(), method: :post, params: { reservation_id: reservation.id }, class: "btn btn-primary mb-2" %>
              <%= link_to "Refuser", user_reservation_path(reservation.teacher, reservation), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr(e)?" }, class: "btn btn-danger" %>
            <% else %>
              <!-- Handle other cases as needed -->
            <% end %>
            <%= reservation.statut %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
