<div class="container">
  <h1 class="display-4 text-center mt-5 mb-4">Reservations</h1>

  <% @reservations.each do |reservation| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Mes demandes d'échanges de compétences</h5>
        <p class="card-text">Date de début : <%= reservation.start_date %></p>
        <p class="card-text">Date de fin : <%= reservation.end_date %></p>
          <% if reservation.statut == 'Validée' %>
      <div class="reservation-card card border border-black mb-3 bg-success">
    <% elsif reservation.statut == 'Refusée'%>
      <div class="reservation-card card border border-black mb-3 bg-danger">
    <% else %>
      <div class="reservation-card card border border-black mb-3">
    <% end %> <%= reservation.statut %>
    </div>

          <% if current_user.role == 'teach' %>
          <%= button_to "Accepter", validate_path(), method: :post, params: {reservation_id: reservation.id},class: "btn btn-primary" %>
         <%= link_to "Refuser", user_reservation_path(reservation.teacher, reservation), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
<% end %>
      </div>
    </div>

 <div class="d-flex justify-content-between">



        </div>

  <% end %>

</div>
